body {
  margin: 0;
  font-family: "Gabarito", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  display: block;
  width: 150px;
  height: 200px;
}
.header__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242323;
  padding: 20px;
  overflow: hidden;
}

.header__banner-img {
  margin-left: -560px;
  background-color: transparent;
  margin-top: 20px;
}
.header__banner-text {
  margin-left: 560px;
  opacity: 0;
  margin-bottom: 30px;
}
.header__banner img {
  display: block;
  width: 70%;
  height: auto;
}
.header__banner h1 {
  color: wheat;
}
.header__logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
.carousel__slide {
  max-width: 600px;
  margin: 30px auto;
}
.pagination {
  display: flex;
  text-align: center;
  justify-content: center;
}
.logOut {
  margin-left: 20px;
}
.d-inline-block {
  max-width: 100px;
  height: auto;
}
.main__container {
  height: 100wh;
  width: 100vw;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./images/article__laptop.png");
}
.product__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap !important;
  padding-left: 20px;
}

.item__card {
  background-color: #b4aeae;
  opacity: 0.9;
  padding: 10px;
  width: 300px;
  margin-right: 20px;
  height: 400px;
  cursor: "pointer";
  transition: all 0.4s ease;
}

.item__card:hover {
  box-shadow: 0px 0px 20px black;
  transform: translate(1.1);
}
.carts__container {
  margin: 0;
  padding: 0;
}
.carts__item {
  background-color: rgba(255, 255, 255, 0.7) !important;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border: 2px solid grey;
  border-radius: 40px;
}
.carts__item img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 300px;
  height: auto;
}
.carts__item p {
  font-size: 22px;
  color: #ed7373;
}
.carts__item-add {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  color: chartreuse;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #6b6666;
}

.carts__item_btnBack {
  margin-top: 30px;
  margin-left: 30px;
  padding: 5px 10px;
  color: red;
  background-color: #000;
  border-radius: 10px;
}
.user__bascket {
  padding: 30px 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.user__bascket-item {
  border: 1px solid white;
  color: rgb(83, 78, 78);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  display: flex;
  outline: none;
  justify-content: space-between;
  align-items: center;
}
.user__bascket-block {
  transition: all 0.5s ease;
}
.user__bascket-block:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.user__bascket-img {
  display: block;
  width: 40px;
  height: 40px;
}
.user__bascket-btn {
  border: 1px solid black;
  color: white;
  background-color: #645f5f;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.4s ease;
}
.user__bascket-btn:hover {
  background-color: #ed7373;
  transform: scale(0.8);
}
.user__bascket-empty {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 30px;
  font-weight: 800;
  color: #ec0826;
}
.user__container {
  background-image: url("./images/product-item.jpg");
  background-size: cover;
  height: 100vh;
}
.info {
  padding: 50px 10px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("./images/bg-info.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.info__item {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__item-text {
  font-size: 20px;
  color: bisque;
  margin-top: 20px;
}
.footer {
  height: 80px;
  padding-top: 20px;
  background-size: contain;
  background-image: url("./images/background-blackmann.jpg");
}
.footer__text {
  text-align: center;
  font-size: 20px;
  color: aqua;
}
.map {
  padding-top: 150px;
  height: 100vh;
  background-image: url("./images/map-contact.png");
}
.map__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  box-shadow: 0px 0px 50px rgb(48, 44, 44);
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
}
.map__contact h1 {
  text-decoration: underline;
  font-size: 40px;
  color: #ed7373;
  margin-bottom: 20px;
}

.repaer__zone {
  display: flex;
}

.repair__zone-title {
  display: flex;
  justify-content: center;
  color: #f7f2d2;
  margin-top: 50px;
  margin-bottom: 30px;
}
.leftRepairZone {
  flex-grow: 2;
}
.change__form {
  background-color: #494747;
  padding-bottom: 100px;
  padding-top: 20px;
  margin-top: -50px;
}
.form__group {
  border: 2px solid black;
  border-radius: 50px;
  padding: 20px 30px;
  background-color: #d0c8c8;
  font-size: 20px;
  box-shadow: 20px -10px 10px rgb(70, 70, 70);
}
.leftRepairZone__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid rgb(104, 238, 38);
  border-radius: 13px;
  padding: 10px 5px;
  transition: all 0.3s ease;
}
.leftRepairZone__list-item:hover {
  border: 2px solid grey;
  box-shadow: 5px 5px 10px gray;
}
.leftRepairZone__list-item img {
  display: block;
  margin-left: 30px;
  width: 35px;
  height: 40px;
}
.leftRepairZone__list-title {
  flex-grow: 2;
  margin-left: 20px;
  margin-right: 20px;
}
.leftRepairZone__list-item span {
  display: block;
}
.changedspan {
  cursor: pointer;
  transition: all 0.4s ease;
}
.changedspan:hover {
  transform: scale(1.2);
  text-shadow: 0 0 20px black;
}
.rightRepairZone {
  align-self: flex-end;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  color: #ec0826;
  transition: all 0.4s ease;
}
.rightRepairZone:hover {
  cursor: pointer;
  transform: scale(1.5);
  text-shadow: 1px 1px 10px red;
}

/* Стили для кнопки назад в ChangeProduct */

button.back__batton {
  display: flex;
  margin: 50px auto;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #ead9d9;
}

button.back__batton > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

button.back__batton:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

button.back__batton:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

/* end ChangeProduct */

/*---------------- style from SINGUP ----------------------- */

button.btn__singUp {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: all 0.2s ease;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button.btn__singUp .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.btn__singUp .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button.btn__singUp .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button.btn__singUp:hover {
  background-color: var(--hover-color);
}

button.btn__singUp:hover .arrow {
  background: var(--secondary-color);
}

button.btn__singUp:hover .arrow:before {
  right: 0;
}

/*---------------- end -------------------- */

/* ------------------ style from button delete basket page ------------------- */

.btn__delete {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.btn__delete:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.btn__delete:hover .svgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}

.btn__delete::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.btn__delete:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}

/* ------- end -------- */

/* --------------- log out style ----------------- */

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}
/* -------------- end ----------------- */

/* ------------------ cardsItem button back ------------------------ */

button.btn__back-cards {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 30px auto;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  border: 0;
}

.btn__back-cards:before,
.btn__back-cards:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.btn__back-cards:before {
  border: 4px solid #534f51;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.btn__back-cards:after {
  border: 4px solid #74e17b;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.btn__back-cards:hover:before,
.btn__back-cards:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn__back-cards:hover:after,
.btn__back-cards:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.btn__back-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.btn__back-elem {
  display: block;
  width: 40px;
  height: 40px;
  margin: 20px 18px 0 18px;
  transform: rotate(180deg);
  fill: #e65272;
}

.btn__back-cards:hover .btn__back-box,
.btn__back-cards:focus .btn__back-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

/* ------------------ end --------------------------------------------- */

.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #00e571;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shift {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}

/* кнопка Go ssomeweere ---------------- */

.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* ------------------ end --------------------- */

.add__basket {
  width: 5em;
  position: relative;
  height: 2.5em;
  border: 3px ridge #178504;
  outline: none;
  background-color: transparent;
  color: black;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
}

.add__basket::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: white;
  transition: 0.5s;
  transform-origin: center;
}

.add__basket::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: white;
  transition: 0.5s;
}

.add__basket:hover::before,
.add__basket:hover::after {
  transform: scale(0);
}

.add__basket:hover {
  box-shadow: inset 0px 0px 25px #80f446;
}
/* ------------------end -------------------- */
